*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 20px 40px 20px 40px;
  background-image: url("../img/backimage.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;


}

.page-title {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 40px;
    color:#ff9c33;
}

header {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:-300px;
  margin-left: -300px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}

#name1 {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  color: #3F7FBF;
}

#bio {
  text-align: center;
  padding-top: 10%;
}

.bio-p {
  font-size: 17px;
  margin-top: 75px;
  padding: 10px;
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
}

.picture {
  float:left;
  margin: 80px 20px 20px 20px;
  border: solid gray 5px;
}

.nav-bar li {
  display: inline;
  padding: 20px;

}
.nav-bar li a {
  text-decoration: none;
  border: black 3px solid;
  padding: 10px;
  color: #063A02;
}
.nav-bar li a:hover {
  color: #4e9cb5;
}

#header-intro {
  font-size: 30px;
  color:  #057E3E;
}

.menu {
  margin-top: 30px;
  font-size: 20px;
}

/*projects*/

.projectlist {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;

}

#projects {
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

#dev_projects {
  color:#ff9c33;
}

#interest {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
}

.interst_text {
  font-size: 17px;
}

/*CONTACT*/
#contact {
    background-image: url("../img/pic.jpeg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: 20px;
}

.page-title1 {
  color:#ff9c33;
  font-size: 40px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#contact-info {
  z-index: 1000;
  top: 50%;
  margin-top: 0px;
  text-align: center;
}
#contact-info {
  padding-bottom: 20px;
  font-size: 12px;
}

/*Footer*/
#footer{
  height: 100px;
  text-align: center;
  font-size: 20px;
}
