*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
  /*font:normal 65% Arial, Helvetica, sans-serif;*/
}

.page-title {
    /*font-family: 'Poiret One', cursive;*/
    font-size: 40px;
}

p {
    padding: 0 0.7em;
    margin: 0;
}

header {
  position: absolute;
  top: 50%;
  width: 600px;
  height: 300px;
  left: 50%;
  margin-top:-300px;
  margin-left: -300px;
  text-align: center;
}

#name1 {
  text-align: center;
  font-size: 55px;
  /*more stuff in here. Try to make it moving and flashing or something interesting*/
}

#bio {
  /*background-color: #CCCCCC;*/
  text-align: center;
  padding-top: 10%;
}

.bio-p {
  font-size: 20px;
  margin-top: 75px;
  padding: 10px;
  margin-bottom: 60px;
}

.picture {
  float:left;
  margin: 50px 20px 20px 20px;
}

.img-circle {
  border: solid gray 5px;
  align-items: center;
  width: 250px;
  height: 250px;
  margin-top: 30px;
}

/*CONTACT*/
#contact {
    /*background-color: #CCCCCC;*/
    text-align: center;
}
.nav-bar li {
  display: inline;
  padding: 20px;

}
.nav-bar li a {
  text-decoration: none;
  border: black 3px solid;
  padding: 10px;
  /*color: #5F9EA0;*/
  /*font-family: 'Poiret One', cursive;*/
}
.nav-bar li a:hover {
  /*color: #4e9cb5;*/
}
#header-intro {
  font-size: 20px;
  color: #800000;
}

.menu {
  margin-top: 20px;
  font-size: 25px;
}

#form-div, #contact-info {
  z-index: 1000;
  top: 50%;
  margin-top: 0px;
  text-align: center;
}
#contact-info {
  padding-bottom: 20px;
  font-size: 18px;
}
#contact-info p a img {
  padding-left: 10px;
}

/*projects*/

#projects {
  /*background-color:  #e6e6ff;*/
  text-align: center;
  margin-bottom: 220px;
}

#interest {
  /*background-color: #8c7373;*/
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin-bottom: 60px;
}

#project-img {
  z-index: 1000;
  text-align: center;
  height: 600px;
  width: 880px;
  margin: 50px auto -10px auto;
}

#project-img a img {
  width:250px;
  padding: 20px;
}


/*CONTACT FORM*/
.form-styling{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-styling h2{
    /*background: #4D4D4D;*/
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    /*color: #797979;*/
    font-size: 48px;
    font-weight: 100;
    padding: 10px;
    margin: -30px -30px 30px -30px;
}
.form-styling input[type="text"],
.form-styling input[type="email"],
.form-styling textarea
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-styling textarea{
    resize:none;
    overflow: hidden;
}
.form-styling input[type="button"],
.form-styling input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    /*background-color: #4e9cb5;*/
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-styling input[type="button"]:hover,
.form-styling input[type="submit"]:hover {
    /*background-color:#34CACA;*/
}


@media (max-width: 550px) {
  .form-styling {
    width: 300px;
  }
  #project-img a img {
    width:150px;
    padding: 5px;
  }
  #project-img {
    width: 360px;
    margin-left: -100px;
  }
}

@media(max-width: 800px) {
  #project-img a img {
    width:200px;
    padding: 5px;
  }
  #project-img {
    width: 600px;
  }
}

#footer{
  height: 100px;
  text-align: center;
  font-size: 20px;
}
